{% extends "base.html" %}
{% block title %}Career Resources{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Career Development Resources</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for resource in resources %}
        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ resource.name }}</h5>
                    <p class="card-text">{{ resource.description }}</p>
                    <a href="{{ resource.url }}" target="_blank" class="btn btn-primary">
                        Access Resource
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}